[buildout]
parts = dev
extra-paths =
    ${buildout:directory}
find-links =
    http://github.com/wewriteapps/pinocchio/tarball/0.2#egg=pinocchio-0.2
eggs =
    beanstalkc
    PyYAML

[dev]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
extra-paths = {$buildout:extra-paths}
